body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #444;
}

#contact-list {
    margin-top: 20px;
}

.content {
    background-color: white;
    margin: 150px 500px;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 12px;
}